

html, root, body {
    position: absolute;
    width: 100%;
    height: 100%;
    border: none 0px;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

header {
    position: absolute;
    width: 100%;
    height: 60%;
    top: 0px;
    max-height: 30vw;
    background-color: #b2f9ff;
    background-position: center bottom;
    background-image: url("../img/bali-bkgnd-nodeschool.jpg");
    background-size: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
}

#header-content {
    position: absolute;
    width: 60%;
    height: 100%;
    left: 20%;
    top: 0px;
    text-align: center;
    background-position: center bottom;
    background-image: url("../img/bali-gate-nodeschool.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
}
#header-buttons {
    position: absolute;
    width: 40%;
    height: 33%;
    left: 30%;
    margin-top: -5px;
}

#header-buttons>* {
    background-image: url(../img/bali-buttonsheet.png);
    background-size: 200%;
    background-position: 0% 0px;
    width: 100%;
    height: 50%;
    box-sizing: border-box;
    border-radius: 10px;
    border: solid 2px transparent;
    margin-bottom: 2px;
}
#header-buttons>*:hover {
    background-color: #d5fcff;
    border: solid 2px #92550e;
}

#header-buttons>#interest-button {
    height: 53%;
}
#header-buttons>#interest-button:hover {
    background-position: -100% 0%;
}
#header-buttons>#schedule-button {
    height: 45.5697%;
    background-position: 0% -84%;
}
#header-buttons>#schedule-button:hover {
    height: 45.5697%;
    background-position: -100% -84%;
}

.site-main-content {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: auto;
    padding-top: 60%;
}
#main-content {
    background-color: papayawhip;
    border-top: solid 5px darkkhaki;
    padding: 1px;
    box-sizing: border-box;
}
#ticker-message {
    background-color: chocolate;
    color: #d5fcff;
    font-size: 18pt;
    line-height: 22pt;
    text-align: center;
}
#ticker-message a {
    color: #d5fcff;
}
#ticker-message a:hover {
    color: palegreen;
}